body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  section.contato {
    text-align: center;
    margin: 20px;
  }
  
  button {
    background-color: #19095f;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }